.teams
{
   
    color: aliceblue;
    
    font-size: 50px;
    
    text-align: center;
    margin-top: 13%;
}
#topteams
{
    top: 440%;
    position: absolute;
}
.topteams_zag
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-bottom: 3%;
}
.topteams_sr
{

    padding: 0 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(133, 133, 133);
    margin-bottom: 1%;
}
.teams_blocks
{
    display: flex;
    justify-content: space-around;
    margin: 3% 5%;
    transition: 0.5s;
}
.teams_block
{
    background-color: rgb(26, 26, 26);
    width: calc( 22% - 5px );
    
    color: black;
    transition: 0.5s;
    
}
.teams_block:hover
{
    background-color: rgb(201, 10, 10);
    border-radius: 20px;
}

.teams_image img{
    padding: 20%;
    width: 60%;
    object-fit: cover;
   
}
.teams_image
{
    color: aliceblue;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5s;
}
.teams_image:hover{
    color: rgb(0, 0, 0);
    
}



.teams_image2 img{
    padding: 12%;
    width: 60%;
    object-fit: cover;
   
}
.teams_image2
{
    color: aliceblue;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5s;
}
.teams_image2:hover{
    color: rgb(0, 0, 0);
}

.teams_image3 img
{
    padding: 8%;
width: 60%;
}
.teams_image3{
    color: aliceblue;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5s;
}
.teams_image3:hover{
    color: rgb(0, 0, 0);
}


.teams_image4 img{
    padding: 28% 15%;
    width: 60%;
}
.teams_image4
{
    color: aliceblue;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5s;
}
.teams_image4:hover{
    color: rgb(0, 0, 0);
}

.teams_icons
{
    margin: 15% 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

  
    


.platforms:hover{
    color: rgb(7, 5, 23);
}
.platforms 
{
    text-decoration: none;
    color: rgb(158, 158, 158);
    transition: 0.5s;
    width: 20%;
   
}

@media (max-width:1050px)
{
    .teams_blocks
    {
        flex-wrap: wrap;
    }
    .teams_block
    {
        width: calc(40% - 10px);
        margin-bottom: 10%;
    }
}

@media (max-width:1380px)
{
    .teams_image
    {
        font-size: 80%;
    }
    .teams_image2{
        font-size: 80%;
    }
    .teams_image3{
        font-size: 80%;  
    }
    .teams_image4{
        font-size: 80%; 
    }
}

@media (max-width:1130px)
{
    .teams_image
    {
        font-size: 60%;
    }
    .teams_image2{
        font-size: 60%;
    }
    .teams_image3{
        font-size: 60%;  
    }
    .teams_image4{
        font-size: 60%; 
    }
}
